In [ ]:
"""Тестирование проводим за период с 18.12.2012 по 29.04.2022, 
т.к. с сайта Мосбиржи доступна подробная статистика для этого периода.
Можно сделать с 04.03.2011, но нет инф-ции по капитализации для тестирования фактора Size,
поэтому будут только Momentum, Low volatility и High dividends"""

In [ ]:
# Добавить комиссии за ребалансировку!

In [138]:
import pandas as pd
import numpy as np
from datetime import datetime
from datetime import timedelta

In [257]:
# Дата начала бэктеста
first_date = pd.to_datetime('18.12.2012')

In [258]:
rebalancing = pd.read_excel('moex - assets.xlsx', sheet_name='динамика для бэктеста', header=1)

In [259]:
price = pd.read_excel('moex - assets.xlsx', sheet_name='цены', index_col=0).iloc[1:]

In [260]:
dividends = pd.read_excel('moex - assets.xlsx', sheet_name='дивиденды').iloc[:, 1:]

In [261]:
Nshares = pd.read_excel('moex - assets.xlsx', sheet_name='количество акций', index_col=0)

In [262]:
# Оставим информацию о ребалансировке от указанной start_date
rebalancing = rebalancing[rebalancing.columns[(rebalancing.columns >= first_date).tolist()]]

In [263]:
# Добавим в цену дивиденды

In [264]:
ticker = 'AFKS'

In [265]:
ticker

'AFKS'

In [266]:
divs = dividends[['Date ' + ticker, 'Divs ' + ticker]]

In [267]:
divs

    Date AFKS  Divs AFKS
0  2021-07-14      0.310
1  2020-07-15      0.130
2  2019-07-17      0.110
3  2018-07-18      0.110
4  2017-12-07      0.680
5  2017-07-12      0.810
6  2016-10-06      0.380
7  2016-07-13      0.670
8  2015-07-15      0.470
9  2014-07-16      2.060
10 2013-05-21      0.960
11 2012-05-18      0.280
12 2011-05-17      0.260
13 2010-05-13      0.055
14        NaT        NaN
15        NaT        NaN
16        NaT        NaN
17        NaT        NaN
18        NaT        NaN
19        NaT        NaN
20        NaT        NaN
21        NaT        NaN
22        NaT        NaN
23        NaT        NaN
24        NaT        NaN
25        NaT        NaN
26        NaT        NaN
27        NaT        NaN
28        NaT        NaN
29        NaT        NaN
30        NaT        NaN
31        NaT        NaN
32        NaT        NaN
33        NaT        NaN
34        NaT        NaN
35        NaT        NaN
36        NaT        NaN
37        NaT        NaN
38        NaT        NaN
39        NaT        NaN
40        NaT        NaN
41        NaT        NaN
42        NaT        NaN
43        NaT        NaN
44        NaT        NaN

In [268]:
i = 0
div_date = divs.iloc[i, 0]
div = divs.iloc[i, 1]
price_path = price[ticker].copy()

In [152]:
!!!

['"!" \xadҐ пў«пҐвбп ў\xadгваҐ\xad\xadҐ© Ё«Ё ў\xadҐи\xadҐ©',
 'Є®¬\xa0\xad¤®©, ЁбЇ®«\xadпҐ¬®© Їа®Ја\xa0¬¬®© Ё«Ё Ї\xa0ЄҐв\xadл¬ д\xa0©«®¬.']

In [218]:
# Функция переносит неторгуемый день ранее на первый торгуемый день
def trading_date(path, date):
    quote = path[path.index == date].iloc[0]
    date = date - timedelta(1)
    quote_prev = path[path.index == path.index == date].iloc[0]
    while quote_prev == quote:
        date = date - timedelta(1)
        quote = path[path.index == date].iloc[0]
        quote_prev = path[path.index == (date - timedelta(1))].iloc[0]
        
    return(date)

In [219]:
trading_date0 = trading_date(price_path, div_date)
trading_date1 = trading_date(price_path, trading_date0 - timedelta(1))

Timestamp('2021-07-14 00:00:00')

In [269]:
price_path

Дата
2011-01-02     0.000
2011-01-03     0.000
2011-01-04     0.000
2011-01-05     0.000
2011-01-06     0.000
               ...
2022-04-25    12.300
2022-04-26    12.598
2022-04-27    12.587
2022-04-28    12.500
2022-04-29    12.909
Name: AFKS, Length: 4136, dtype: float64

In [ ]:
# В самом начале проверить, ечть ли значения в столбце, потом уже применять функцию

In [ ]:
!!!